<div *ngIf='user'>
  <h2>{{user.name | uppercase}} details</h2>
  <img *ngIf='user.avatar' src='http://localhost:3000/{{user.avatar}}' width="350px" height="350px">
  <div *ngIf='!user.avatar'>
    <p>Upload your photo:</p>
    <input
    style="display: none"
    #avatar
    name='avatar'
    type="file" (change)="onFileSelected($event)" >
    <button type="button" (click)="avatar.click()">Pick File</button>
    <button type="button" (click)="onUpload()">Upload</button>
  </div>
  <div [formGroup]='updateUserControl'>
    <label>Name:
      <input formControlName='name' [(ngModel)]="user.name">
    </label>
    <label>Login:
      <input formControlName='login' [(ngModel)]='user.login'>
    </label>
  </div>
  <div><span>id: </span>{{user.id}}</div>
  <div><span>role: </span>{{user.role}}</div>
</div>
<button (click)="updateUser()">
  Save changes
</button>
<button class='back' (click)='goBack()'>Back</button>
